/BiWordIndex.class
/Index.class
/KGramIndex.class
/PositionalInvertedIndex.class
/Posting.class
/DiskInvertedIndex.class
/DiskKgramIndex.class
/SpellingCorrector$Comp.class
/SpellingCorrector$Pair.class
/SpellingCorrector.class
/CheckForSpellings.class
