/AndQuery.class
/BiWordQuery.class
/BooleanQueryParser$Literal.class
/BooleanQueryParser$StringBounds.class
/BooleanQueryParser.class
/OrQuery.class
/PhraseLiteral.class
/Query.class
/TermLiteral.class
/WildcardLiteral.class
/IRankedQuery.class
/DefaultRankedQuery.class
/Tf_IDF_RankedQuery.class
/Okapi_BM25_RankedQuery.class
/WackyRankedQuery.class
/WackyRankedQuer.class
